<div class="boton">
    <button type="button" class="btn btn-primary" routerLink="/editAcercaDe/1" *ngIf="isLogged"><i class="bi bi-plus-lg"></i>
        Editar Persona
    </button>
</div>
<div class="row">  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{persona.img}}" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombreTitulo">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
        <span>
            <h3>Acerca de mí</h3>
            <p id="acercaDe">{{persona.acercaDe}}</p>
        </span>
    </div>
</div>